extends ../template/page.pug

block append head
  title Home

block content
  
  #markdown-body
    :markdown-it
     # Our Achievements This Year

      ## Bronze

      ### 1. Competition Deliverables

        we have completed wiki, promotion video and presentation video and judging form that need to be submitted for the competition.

      ### 2. Attributions

        We have fully accounted for the contributions and assistance of our team members.

      ### 3. Project Description

        we finally completed the design of our project after consulting many professors and doctors.

      ### 4. Contribution

        For the first time in iGEM competition, our team constructed siRNA for mouse GATA3 GATA3-siRNA-3 (BBa_K3756003) and siRNA for mouse TSLP TSLP-siRNA-2 (BBa_K3756006) and conducted a series of experiments to prove their outstanding gene silencing ability *in vitro* and *in vivo*. Details can be found in [Results](https://2021.igem.org/Team:NJU-China/Results)

      ## Silver

      ### 1.  Engingeering  Success

        According to the design of the project, we finally designed two parts: **GATA3-siRNA-3(BBa_K3756003)** and **TSLP-siRNA-2(BBa_K3756006)**. Through the following series of experiments, we have proved that these two parts are effective and can be used for treatment, and finally achieve the effect we want to treat asthma caused by type 2 verification.

      ### 2. Collaboration

        During our 5 month iGEM competition, we actively collaborated with various iGEM teams. From the southeast coast of China to the Loess Plateau in central China, from the Yangtze Plain in East Asia to the Bolivian Plateau in South America, there are always teams with which we were cooperating closely. We would like to extend our heartfelt thanks to these iGEM teams we have worked with.

      ### 3. Human Practices

        we collected about 400 questionnaire worldwide and collected data on more than 100 cities; through our unremitting efforts, we mapped the regional analysis of asthma in China, revealing the correlation between asthma mobidity and GDP and aging population, which had never been addressed before. 

      ### 4. Proposed Implementation

        This is very encouraging, so we are thinking further. We are applying patent for our therapy. In the mean time, we are seeking commercial collaboration from GenScript in order to conduct clinical trials and eventually come into the market in the future.  (Details can be found at [Implementation](/Implementation))

      ## Gold

      ### 1. Integrated Human Practices

        Our project this year focuses on targeted therapy for asthma, initiating a novel *in vivo* self-assembled small interfering RNA delivery system, which fills the gap of long-term lack of targeted drugs in the asthma drug market. Through continuous interviews and surveys, and after collecting opinions from different groups of people such as professors, doctors and patients, we gradually formed our existing project. (Details can be found at [Human_Practices](/Human_Practices))

      ### 2. Proof of Concept

        In wet lab, we proved that the DNA circuit and drug administration strategy designed by us are effective both *in vitro* and *in vivo*, and can even completely reverse the symptoms of asthma to a certain extent.  (Details can be found at [Results](/Results))

      ### 3. Partnership

        Just as H.E. Luccock said, No one can whistle a symphony. It takes a whole orchestra to play it. In 2021 iGEM competition, it is with ZJU-China that we together play the wonderful symphony of synthetic biology. We acknowledge ZJU-China for their incredible thoughts and passion for partnership, from which make both of our two teams benefit. Below are the precious records of our partnership.

      ### 4. Education&Communication

        In addition to the optimization of our project design and future product transformation, we are also committed to popularizing asthma knowledge for the public and building a better platform for the development and communication of synthetic biology. For the first time, we led the establishment of a new regional iGEM organization, Nanjing iGEM Association, which was viewed online by up to 2000 people at our conference in May. At the same time, we actively cooperated with NAU-China and co-hosted OneHealth online communication meeting. In addition, we went into the community and have in-depth communication with local residents. In response to World Asthma Day, we were engaged in educating people about asthma misunderstandings and promoting gene therapy. Details can be found at [Human_Practices](/Human_Practices) and [Education](/Education).







































      ## Human Practices

      Our project this year focuses on targeted therapy for asthma, initiating a novel *in vivo* self-assembled small interfering RNA delivery system, which fills the gap of long-term lack of targeted drugs in the asthma drug market. Through continuous interviews and surveys, and after collecting opinions from different groups of people such as professors, doctors and patients, we gradually formed our existing project. (Details can be found at [Human_Practices](/Human_Practices))

      ## Successes in Experiment

      In wet lab, we proved that the DNA circuit and drug administration strategy designed by us are effective both *in vitro* and *in vivo*, and can even completely reverse the symptoms of asthma to a certain extent.  (Details can be found at [Results](/Results))

      ## Implementation and Entrepreneurship

      This is very encouraging, so we are thinking further. We are applying patent for our therapy. In the mean time, we are seeking commercial collaboration from GenScript in order to conduct clinical trials and eventually come into the market in the future.  (Details can be found at [Implementation](/Implementation))

      ## Science Communication and Education

      In addition to the optimization of our project design and future product transformation, we are also committed to popularizing asthma knowledge for the public and building a better platform for the development and communication of synthetic biology. For the first time, we led the establishment of a new regional iGEM organization, Nanjing iGEM Association, which was viewed online by up to 2000 people at our conference in May. At the same time, we actively cooperated with NAU-China and co-hosted OneHealth online communication meeting. In addition, we went into the community and have in-depth communication with local residents. In response to World Asthma Day, we were engaged in educating people about asthma misunderstandings and promoting gene therapy. Details can be found at [Human_Practices](/Human_Practices) and [Education](/Education).


