extends ../template/page.pug

block append head
  title Home

block content
  
  #markdown-body
    :markdown-it
      # Our achievement this year

      ## Human Practices

      Our project this year focuses on targeted therapy for asthma, initiating a novel *in vivo* self-assembled small interfering RNA delivery system, which fills the gap of long-term lack of targeted drugs in the asthma drug market. Through continuous interviews and surveys, and after collecting opinions from different groups of people such as professors, doctors and patients, we gradually formed our existing project. (Details can be found at [Human_Practices](/Human_Practices))

      ## Successes in Experiment

      In wet lab, we proved that the DNA circuit and drug administration strategy designed by us are effective both *in vitro* and *in vivo*, and can even completely reverse the symptoms of asthma to a certain extent.  (Details can be found at [Results](/Results))

      ## Implementation and Entrepreneurship

      This is very encouraging, so we are thinking further. We are applying patent for our therapy. In the mean time, we are seeking commercial collaboration from GenScript in order to conduct clinical trials and eventually come into the market in the future.  (Details can be found at [Implementation](/Implementation))

      ## Science Communication and Education

      In addition to the optimization of our project design and future product transformation, we are also committed to popularizing asthma knowledge for the public and building a better platform for the development and communication of synthetic biology. For the first time, we led the establishment of a new regional iGEM organization, Nanjing iGEM Association, which was viewed online by up to 2000 people at our conference in May. At the same time, we actively cooperated with NAU-China and co-hosted OneHealth online communication meeting. In addition, we went into the community and have in-depth communication with local residents. In response to World Asthma Day, we were engaged in educating people about asthma misunderstandings and promoting gene therapy. Details can be found at [Human_Practices](/Human_Practices) and [Education](/Education).

