extends ../template/page.pug

block append head
  title Home

block content
  
  #markdown-body
    :markdown-it
      # Art

      This is our team NJU-China’s logo. It contains many elements representing our team name and the year of iGEM. Also its main shape is a shield, resembling the Nanjing University’s badge. The DNA double helix structure is also inserted in this logo, with its pairing bases hided in it. DNA plays a crucial role in biology research and our iGEM team’s project is closely concerned with DNA, thus applying it to our logo. What’s more, its basic colors are only white and black, showing our team’s diligence and meticulousness in our iGEM project.

      ![Art_Fig1](../assets/image/Art_Fig1.png)

      This logo belongs to the Nanjing iGEM Association, our regional association. It clearly shows our association’s name. Since all our iGEM members come from Nanjing and it was founded in Nanjing, the idea of its design originates from the floral emblem of our city Nanjing, bauhinia. The border of our logo is a linked DNA double helix structure, which not only represents our biology goals, but also implies that we build our friendship and collaboration through this platform and we are a union.

      ![Art_Fig2](../assets/image/Art_Fig2.png)