extends ../template/page.pug

block append head 
  title Home

block content
  
  #markdown-body
    :markdown-it
      # Partnership

      Just as H.E. Luccock said, No one can whistle a symphony. It takes a whole orchestra to play it. In 2021 iGEM competition, it is with ZJU-China that we together play the wonderful symphony of synthetic biology. We acknowledge ZJU-China for their incredible thoughts and passion for partnership, from which make both of our two teams benefit. Below are the precious records of our partnership.

      

      ## 1. Build the bridge

      In our Nanjing iGEM Association workshop held by us in May, iGEMers and synthetic biology enthusiasts from all over the country attended the conference, as did ZJU-China. At the meeting, we presented our project design and ZJU-China showed great interest in it. During the free discussion after the meeting, Lei Jiangchu from ZJU-China contacted with our team, hoping to have long-term cooperation in the future. We were very honored to work closely with ZJU-China for the following five months.

      ![](../assets/image/Partnership_NIA.jpg)



      ## 2. Early stage of our partnership: about Human Practice

      At the beginning of our project design, both our teams were eager to know what impact our project design would have on patients, so human practice became very important. In our online meeting, we raised this concern.

      **ZJU-China** **→ NJU-China:**

      In the early human practice of NJU-China, most of the interviews were with several experts or doctors. But this approach is somewhat inefficient, because we did not know what the "majority" thinks. However, when it comes to questionnaire, how to design the content had become a puzzle to us. ZJU-China suggested that we conducted a small scale survey of asthma patients in hospitals, and then expand interviewees of our questionnaire based on the inspirations we drew from it.

      **NJU-China** **→ ZJU-China:**

      ZJU-China said that this was the first time for their team to practice AAV therapy, so they had some concerns about safety. Since the NJU-China team also used AAV as vector in their design in iGEM 2020, and also interviewed many experts and professors on AAV-related issues. Therefore, we contacted an expert from GenScript in Nanjing for an offline interview. On behalf of ZJU-China, we discussed lots of issues from application to safety of AAV vector which ZJU-China concerned.

      ![](../assets/image/Partnership_ZJU-1.png)

      ## 3. Early stage of our partnership: about Project

      Since the designs of our two teams was relatively preliminary at the beginning of the project,, so we conducted trouble-shooting with each other.

      **ZJU-China** **→ NJU-China:**

      NJU-China planned to adopt exosome fusion targeting peptide to ensure the targeting of our drugs *in vivo*, but we had not found a reliable targeting peptide for lung epithelial cells. While ZJU-China this year used the RGD-4C peptide motif to anchor adenovirus directly to integrin, which ultimately increasing their adenovirus targeting feature. Inspired by their suggestions, we set out to design a targeted peptide RGD-Lamp2b for airway epithelial cell.

      **NJU-China** **→ ZJU-China:**

      ZJU-China aims to kill cancer cells by expressing a sequence downstream of a liver cancer specific promoter which can kill cancer cells. That's the reason why they contacted us in the first place, since we use RNAi technology to achieve our goal of treating asthma, and ZJU-China also wants to achieve the effect of killing liver cancer through microRNAs. We detailed to ZJU-China our process of RNAi designing and some tricks in designing eukaryotic expression system of RNAi. With our help, ZJU-China perfected their microRNA component design.

      

      ## 4. Middle stage of our partnership: from Dry Lab to Wet Lab

      As our respective projects progressed, we encountered more and more problems, so we had a lot of online communication. The problems from wet lab to dry lab were discussed in detail.

      **ZJU-China** **→ NJU-China:**

      After NJU-China designed two fusion targeted peptides CKLF1C19-Lamp2b and RGD-Lamp2b, we wanted to verify their affinity for the receptor through in dry lab. However, the fusion protein we designed could not find the corresponding structure in the existing database. Thanks to ZJU-China's generous help, we successfully constructed the fusion protein structure through I-TASSER homology modeling tool, so that we could conduct protein-protein docking analysis later on.

      **NJU-China** **→ ZJU-China:**

      ZJU-China came across a bottleneck in their plasmid-related experiments. They couldn't incubate DH5α transformed with CMV/U6-shRNA plasmid. To solve this problem, our two team had meeting for trouble-shooting online. NJU-China shared our experience in plasmid construction and our team's improved plasmid transformation protocol, which ultimately helped ZJU-China complete plasmid-related experiments.

      ![](../assets/image/Partnership_Docking.png)

      ## 5. Middle stage of our partnership: about Human Practice

      Both of our teams had some difficulties with how to expand the questionnaire audience. To this end we helped each other in finding audiences for questionnaires to increase the scale.

      **ZJU-China** **→ NJU-China:**

      NJU-China attempted to carry out a nationwide survey on factors associated with asthma, so statistical data from all over the country were needed to support our complex data analysis. ZJU-China, which locates in Hangzhou, the center of Zhejiang Province on China's southeast coast, selflessly helped us distribute the questionnaires and finally we received 28 valid answers. We could not have constructed a national asthma analysis without ZJU-China's strong support for our questionnaire. Many thanks to ZJU-China for helping us!

      **NJU-China** **→ ZJU-China:**

      ZJU-China wanted to know doctors’ and patients’ views on their team's design. We thought it was important to know what people in different regions thought about their program, so we visited the Nanjing Zhongcao Hospital and interviewed Dr. Wang Qiong about ZJU-China’s adenovirus therapy for liver cancer. At the same time, we also contacted two liver cancer patients and interviewed them some issues ZJU-China's concerns, such as safety considerations and acceptance for their therapy.

      

      ## 6. Late stage of our partnership: about Dry Lab

      Since both our teams’ models involve RNAi related computation, we collaborated closely in this area. During cooperation, we were deeply impressed by ZJU-China's powerful modeling ability.

      **ZJU-China** **→ NJU-China:**

      ZJU-China had rich modeling experience and helped us successfully build the mathematical model we needed. After building the theoretical model, we found that it was very difficult to find relevant constants. Therefore, ZJU-China helped us find relevant parameters and successfully complete the model establishment.

      **NJU-China** **→ ZJU-China:**

      NJU-China previously had experience in building model of expression pattern of RNAi in the past iGEM competition. During our two team discussion, we suggested that ZJU-China refer to the paper *Insights into the kinetics of sirNA-mediated gene silencing from live-cell and live-animal bioluminescent imaging* to refine their modeling. We also consulted the modeling team member of previous NJU-China team and gave ZJU-China suggestions on the modeling.



      ## 7. Late stage of our partnership: about Science Communication

      We have never forgotten the importance of science communication and education. Without it, it would be difficult for us to carry out our projects, to hear the voices from patients, and to raise the concerns of the society. So this year, our two teams have done a lot of work in different area to promote science communication.

      **ZJU-China** **→ NJU-China:**

      May 4, 2021 is the 23rd World Asthma Day, and this year's theme is " Uncovering Asthma Misconceptions." NJU-China intended to carry out science communication and education activities on that day. But we don't want to limit the activity in Nanjing. So we went to ZJU-China for help. ZJU-China was very willing to help us jointly hold the activities. They helped us design posters and brochures for public education. In the meantime, they also helped carry out Asthma Day science communication activity in their campus back in Zhejiang Province. Some of the questionnaires and survey results we obtained that day were with the help of ZJU-China in Zhejiang Province. Thank ZJU-China for their selfless efforts!

      **NJU-China** **→ ZJU-China:**

      In recent years, WeChat official accounts and online video streaming websites have gradually entered the public's view and become important channels for daily people to obtain information. Therefore, ZJU-China also wanted to conduct their education or science communication through the Internet, expecting to expand the scale of the audience. But ZJU-China lacked the experience in how to build WeChat official account, while NJU-China's Ni Tianyi is good at it. Therefore, with the help of Ni Tianyi, ZJU-China successfully set up their own WeChat official account and gradually started online science communication activities.

      

      ## 8. Late stage of our partnership: about Presentation

      Near the end of the iGEM competition, our two teams had our last online meeting. At the meeting, we simulated what we said in the presentation video and posed comments on each other. After listening to the valuable opinions, both teams made some modifications to the presentation video to polish it up.

      We ended the last meeting with *auld Lang Syne*. Looking back on our past partnership, all sorts of feelings welled up in our mind. During the 5 months of close partnership with ZJU-China, we worked closely and generously shared our experience to each other from Human Practice to Science Communication, from Dry Lab to Wet Lab, from project design to project presentation. In past five months, we deepened the project, enriched our understanding of human practice, and most important, enhanced our friendship. Here we sincerely thank ZJU-China for close partnership with us all the time!

      ![](../assets/image/Partnership_ZJU-3.png)