extends template/basic.pug

block title 
  title Home

block content
  style.
    h1 {
      font-size: 36px;
    }
  
  :markdown-it
    # Welcome to our wiki page! 

    This page is under construction, and will be fully implemented soon.