extends ../template/page.pug

block append head 
  title Home

block content
  
  #markdown-body
    :markdown-it
      # Human Practices
      ## 1. Human practice benefs our project

      ### 1.1 Establish our project

      Since the outbreak of COVID-19, lung diseases have attracted more and more attention from people around the world, and our team is no exception. Before the start of our project, we had a wide discussion on the topic we were going to do this year. Our team member， **Martin Woo mentioned that one of his friends, Lee, suffers from asthma all the year round**, which makes his life very inconvenient especially under this epidemic. This soon caught our attention, because the two team leaders of our team, Chenyu Tao and Hao Sun, both suffer from allergic rhinitis, which may develop into asthma in the future.

      

      We soon had an interview with Lee. In the interview, we learned that Lee suffers from allergic asthma and needs to take medicine frequently. Because of his frequent asthma attacks, Lee is often unable to attend school regularly, can’t play sports and has to wear a mask when he goes out. "That's not the worst." Lee told us, the budesonide he is taking does not take long effect, causing his frequent waking up at night from asthma attacks, which severely bothers his bioclock. And he used to take a kind of drug that caused his mouth to fester, but then he switched to another drug and then that symptom doesn't happen again.

      ![](../assets/image/Int_LYC.png)

    center An online interview with Lee, conducted by Martin Woo
    :markdown-it



      After our interview with Lee, we took a second look at a disease that is both familiar and unfamiliar to us: asthma. In fact, many team members have acquaintance suffering from asthma, and all we know about asthma is that they have to carry a nebulizer with them and they can't do strenuous exercise. Beyond that, we know very little about it. We then looked up some basic information about asthma on the Internet. According to relevant data, the prevalence rate of asthma in China from 2012 to 2015 was 4.2%. Meanwhile, **1 in 20 people in the world suffers from asthma, and the number is increasing**. Asthma is generally manifested as recurrent wheezing, shortness of breath, chest tightness or cough and other symptoms. Some severe cases can result in dyspnea or hypoxemia because of bronchospasm or bronchoconstriction. According to the document *GINA Pocket Guide 2021* published by the Global Initiative for Asthma (GINA), the most commonly used drugs for asthma patients are β-agonist and glucocorticoid. The former β-agonist can effectively relax smooth muscle of the bronchus during an asthma attack, ensuring normal breathing; The latter glucocorticoid should be used regularly to suppress inflammation in the lung and reduce asthma attack. Unfortunately, **there is not any existing cure for asthma, and a person who develops asthma usually needs to take medicine lifelong.**

      ![](../assets/image/GINA_asthma_feature.png)

    center Some asthma features illustrated by GINA
    :markdown-it



      As a result, we wanted to see if we could help the vast population of asthma patients like Lee with asthma develop an entirely new treatment for a key target of asthma. This idea was supported by professor Chen Xi, our project PI. He suggested that we must first understand the current situation of asthma drug market and treatment. Only with thorough understanding of the existing problems can we better design our project.

      ### 1.2 Step into asthma

      In order to understand the current situation of asthma drug market and treatment, we interviewed Dr. Jiang Heguo from the Affiliated Hospital of Jiangsu University. From Dr. Jiang  we knew that the current treatment for asthma is usually to give patients antiasthmatic or anti-inflammatory drugs. Nowadays the drugs are mostly in the form of inhalants, which are inhaled hormones or bronchodilators. These drugs will combined with some leukotriene receptor antagonists, or histamine receptor antagonists if necessary. **Dr. Jiang also mentioned that the current treatment of asthma is very difficult, because the existing drugs not only have unignorable side effects, but also feature short duration, requiring long-term repeated use**. In addition, no matter what kind of available asthma drugs today, their effects are so short that patients are more likely to suffer a relapse before the next medication.

      ![Int_Sumei](../assets/image/Int_Jiangheguo.jpg)

    center An online interview with Dr. Jiang, conducted by Shanchi Ma
    :markdown-it



      For better understand the problems in treating asthma, we interviewed Dr. Su Mei, deputy chief physician of respiratory department of Jiangsu Provincial People's Hospital. Dr. Su said that asthma is a common chronic disease in respiratory department, and the number of patients is also very large. Because asthma is a chronic disease, many people need long-term treatment, which requires frequent and prolonged drug intake. However, the glucocorticoid they take have side-effects to themselves, such as obesity, osteoporosis, oral ulcer or easy skin infection, which is one of the leading factors of patients’ low compliance to these drugs. Another reason for the low compliance is the frequency to take drugs. Some patients especially for the young who are busy with their work, would forget to take drugs. **Therefore, for patients, their pressing demand is the drug which is long-acting, convenient to use, and has fewer side effects.** Dr. Su told us if there had been a drug that had fewer side effects, lasted longer and was cheaper, it would certainly make a huge contribution to human medicine.

      ![Int_Jiangheguo](../assets/image/Int_Sumei.jpg)

    center An online interview with Dr. Su, conducted by Shanchi ma
    :markdown-it



      Apart from interviews with doctors, our work also stretched to the patients’ side. We investigated many asthma patients in hospitals in Nanjing by questionnaire and interview, including Nanjing Drum Tower Hospital, Jiangsu Provincial People's Hospital and Nanjing Zhongcao Hospital. Some patients complained that asthma caused them a lot of uncomfortableness, and that the drugs they used even had intolerant side effects to their life, some of who became obese because of the frequent use of glucocorticoid. **A large number of patients emphasized that they had to go to the hospital every month to prepare a huge amount of asthma medication for daily use.**

      ![Ques_patients](../assets/image/Ques_patients.jpg)

    center Some questionnaires we collected from patients
    :markdown-it



      Meanwhile, we also noticed the influence the epidemic pose on asthma patients, so we had some interviews in our local COVID-19 vaccination site. Luckily, we encounter some asthma patients. Through interviews and questionnaires, we learned that at the peak of the epidemic, **some patients faced the dilemma of drug shortage because of the quarantine**. For severe cases, the situation was even more serious, because **they couldn’t get to the hospital in time when asthma exacerbating**. Just as Dr. Jiang mentioned in the interview before, under the influence of the current COVID-19 epidemic, asthma patients might encounter many problems. First, some masks are not of good quality, which will cause allergic reaction to patients with allergic asthma after wearing them; another is that some disinfectants, especially the spray type of this kind, will actually cause allergic reaction in some way. So the vast asthma patients truly live a tough life in such epidemic.

      ![Int_Vaccination](../assets/image/Int_Vaccination.jpg)

    center Our investigation at vaccination site
    :markdown-it



      Through the above interviews and questionnaires, **we found that all kinds of problems plaguing asthma patients, such as frequent medication, poor patient compliance, unable to effectively control the disease for a long time, can be solved by prolonging the effective time of drugs.** Inspired by this we finally established our project’s goal. That is to develop asthma therapy with low side effects and long lasting effects for patients.

      ### 1.3 Optimize our design of self-assembled siRNA system

      Upon finishing the design, we interviewed Professor Hua Zichun from China Pharmaceutical University for advice in order to ensure the feasibility of our project. Professor Hua said GATA3 and TSLP genes we had selected were very pertinent, which were the key genes mediating type 2 inflammation. If these genes could be silenced, it would theoretically have a very good therapeutic effect on type 2 inflammation-mediated asthma, and the sustained effect was expected to be very long. However, Professor Hua worried that using plasmid as our vector might not achieve ideal effect, because the plasmid itself has toxicity, and the duration of plasmid is not quit long, which would reduce the effect of treatment. Moreover, the viral vector like AAV might be more harmful to asthma patients, so it is not recommended to use the virus as a vector. **Professor Hua recommended us using minicicle DNA, which would not only minimize the harm to asthma patients, but also increase the durability of the drug to achieve the optimal effect of the drug.**

      ![Int_Huazichun](../assets/image/Int_Huazichun.png)



      We not only shared our project design with Professor Hua, but also explained our new therapy to patients. Most of the patients accepted our therapy, and most of them are very supportive if it could really achieve the effect of long duration and fewer side effects. **However, some patients said that intravenous administration was not acceptable to them.** As far as they knew, the treatment for asthma should be either oral administration or aerosol administration. According to our analysis, intravenous drug administration does bring regular pain to asthmatic patients, and is not conducive to their health in the long run for there might be potential risks, while aerosol administration could avoid this kind of risk, and aerosol delivery might be more economical than intravenous delivery. **However, we worried that whether aerosol administration could reduce the efficiency.** With this question in mind, we interviewed Professor Wu Jinhui from Institute of Drug R&D, Nanjing University. Professor Wu believed that regular intravenous therapy for asthma, a chronic disease that requires almost lifelong medication, would even do harm to the drug compliance. Therefore, nebulization is a more reasonable choice. **Professor Wu recommended that we select some cationic liposomes and liposomes with targeted peptides for experimental screening, and select the best liposome for treatment.** Therefore, cationic liposome Lipofectamine 2000, DOTMA/Chol, Lipofectin and LID were initially selected for screening through subsequent literature searching.

      ![](../assets/image/Int_Wujinhui.jpg)

      ### 1.4 Achieve comprehensive experiment design

      After our project achieved some experiment results *in vitro*, we interviewed some experts and doctors from all over the country, hoping to listen to opinions from bench to bedside.

      

      We begin with Dr. Zhang Mingqiang, a respiratory doctor at Tsinghua Changgung Hospital Affiliated to Tsinghua University in Beijing. D**r. Zhang praised that our new targeted therapy was closer to the cause of the disease than any existing therapies on the market.** He also said that current asthma drugs, such as glucocorticoids, β-agonists and IgE monoclonal antibodies, provide only a palliative effect, not a cure, and have some side effects. He expected more upstream targets to be developed in the future, and he also praised that our choice of dual targets, TSLP and GATA3, was a good try, and he looked forward to our further study in the future.

      ![Int_Zhangmingqangi](../assets/image/Int_Zhangmingqangi.jpg)



      Later we spoke with Dr. Zhou Bo from the Department of Respiratory at the First Affiliated Hospital of Xi'an Jiaotong University. After listening to our report and *in vitro* experimental data, Dr. Zhou said that we still need to conduct various experiments in animals to fully prove the feasibility of our project. Because inflammation involves many interactions between cells and cytokines, it is difficult to simulate the real situation *in vivo* only *in vitro*. Dr. Zhou encouraged us that our RNAi therapy has not yet been used in asthma, and if it can be proven safe, it could revolutionize the field. Dr. Zhou was obviously more concerned about the safety of our therapy. "Asthma patients are particularly sensitive to outside things such as allergens," he said. "If the drug itself is toxic, it may be counterproductive. **Inspired by Dr. Zhou, we plan to use CCK8 Assay to test our drug, namely Minicircle DNA, to verify its toxicity to cells.**

      ![Int_ZhouBo](../assets/image/Int_ZhouBo.png)



      Finally, we interviewed Dr. Yu Yi from the Respiratory Department of Jingkou District People's Hospital in Zhenjiang. Dr. Yu praised our innovative research in the field of asthma, saying that there is enough evidence for RNAi in the field of cancer that our application in asthma not an ethical issue. **But Dr. Yu informed us that our new treatment needs to take the economic situation of the patient into account.** Because asthma needs long-term treatment, whether our project design can really cure asthma remains to be further verified by our experiments; otherwise, we are simply prolonging the efficacy of treatment, and we need to consider whether patients can afford long-term treatment, because currently the sole targeted drug currently approved for asthma, omalizumab, is very expensive and requires continuous administration for four months, making it almost unaffordable for the majority of asthma patients. Consequently, we need to do some work on the economic side. Luckily, with the help from GenScirpt and the results we have obtained from our questionnaires, we successfully addressed this concerns; details can be found at [Implementation](/Implementation) 

      ![Int_Yuyi](../assets/image/Int_Yuyi.jpg)



      ## 2. Human practice benefits society

      As our human practice work proceeding, we felt it necessary to be actively engaged in the society, so we interviewed and investigated in communities throughout Nanjing city, and conducted questionnaires home and abroad. Eventually, we collected hundreds of questionnaires and by analyzing them, we got plenty of valuable results, such as the mapping of the asthma against air quality in China, correlation between asthma and other hidden aspects, public’s view towards our project, and many others. Below are our detailed human practice records.

      ### 2.1 Wutangxincun Community: a preliminary exploration of the backdrop

      In China, the average prevalence of asthma has been on the rise in recent years, but the diagnosis and treatment rate is still low. With the overall control rate of asthma in urban areas achieving only 28.5%, the control level needs to be improved. Therefore, we conducted a preliminary investigation into the public perception of asthma in Wutangxincun Community.

      ![](../assets/image/HP_wutang.png)



      A volunteer from the community told us that there were indeed many asthma patients in the community, and most of them were elderly. The reason may be that there used to be a cement factory nearby, by which the dust generated caused a high incidence of asthma in residents. However, in recent years, with the increase in awareness of environmental protection and public health, the situation has been improved. Some communications with residents also showed that when outdoor allergens are rampant, such as pollen and dust, asthma patients need to open windows for ventilation to cut expenses, or even go hospital to inhale oxygen when necessary. Through these interviews and investigations, air pollution gradually attracted our attention. **We wondered how does this global environmental problem affect the vast majority of people with asthma. Thus we expanded the scope of our human practice to take into account not just our project itself, but other contributing factors like air pollution to asthma.**

      ![](../assets/image/Int_wutang.png)

      ### 2.2 Questionnaires: an extensive research

      In order to understand the public's opinion on our program, understand the situation of asthma patients in different regions and the impact of air pollution and other factors on asthma, we designed a more comprehensive and in-depth questionnaire and carried out a nationwide survey. **We collected over 300 valid questionnaires in just three days from different areas of China.** Some preliminary analysis of the questionnaire is shown below. 

      ![](../assets/image/Analysis_Ques_1.png)

    center Fig.1 Preliminary analysis of the questionnaire
    :markdown-it



      In terms of public perception, most interviewees mainly obtained asthma-related information from literature, film and television, or simply experiences from themselves or acquaintance around them. We found that our society lack science communication from experts and professionals, and that some fallacies or stereotypes towards asthma still remained. Actually, we put some tests on the questionnaires and the results also turned out that less that 40% of the total had proper understanding of asthma(Fig. 1.13).

      

      Regarding air quality, among some asthma-inducing environmental factors, the respondents believed that active and passive smoking exists most commonly in their everyday life. The frequency of factory and car exhaust, decoration materials, pollen, polluted weather, animal hair, and coal burning all remained around 50%. It indicated that these environmental factors are common in people's daily life, and may be related to the induction of asthma. **According to the results, we mapped the risk factors for asthma in China, as shown below (Fig.2).** We noticed that in some Province like Yunnan, which is well-known for its beautiful natural scenery and excellent air quality, the risk factors are hardly detectable; while for some Province like Jilin, which is a major coal consumer in China, the overall score is not satisfying. **This heat map we created helped us to sort out the geographic distribution of asthma risk factors in China, which no one had uncovered before. This result also promoted our subsequent education and science communication activities, and played a role in arousing public awareness and giving suggestions to patients.**

      ![Heatmap_Province](../assets/image/Heatmap_Province.png)

    center Fig2. Heatmap of asthma risk factors in China by province
    :markdown-it



      Regarding our project design, the average acceptance rate of the interviewees was 5.92 in 10, the concerns expressed by which mainly focused on the lack of experience in new therapies and the rejection of gene therapy. In addition, 18.97% of respondents believed that our project may have ethical issues. **We particularly noticed that among some elderly or educated people, the recognition of our project was typically low.** Graphs are shown below (Fig.3).

      ![](../assets/image/Analysis_Atti-edu.png)



    center Fig3. Attitude to our therapy by different education level
    :markdown-it



      In a bid to encourage more people to embrace our new designs and increase the public's acceptance of newly emerging therapies, **we needed to conduct more education (for the elderly) and science communication (for the educated people) activities and provide more detailed clinical trial data in the future.**

      

      These all-round investigations helped us deepen our understanding of the causes and the current situation of the disease, making our human practice work more targeted and effective. 

      ### 2.3 Yinhongyuan Community: education and science communication 

      **On May 4, the 23rd World Asthma Day**, we went to Yinhongyuan Community to carry out our education activities corresponding to the theme of this year's World Asthma Day - Uncovering Asthma Misunderstandings. **Based on the results of our previous questionnaire analysis, we majorly focused on the topics the elderly concerned, which is the education of asthma misunderstanding and of gene therapy.**

      ![](../assets/image/HP_GINA.png)

    center Activities on World Asthma Day across the world
    :markdown-it



      Previously we had found that many people worried about hormone drug, like glucocorticoid, for fear of getting addictive to it; they worried that if hormone drug were not used any more, the whole therapy will be ineffective. In addition, some asthma patients usually only paid attention to the treatment when they suffered from asthma attack. Once the symptoms were relieved, they misjudged it and stopped the drug treatment arbitrarily. 

      

      Through posters and our careful explain, we raised everyone’s attention to take action to solve the widespread fallacies and misunderstandings about asthma. Through the combination of posters and questionnaires, we vividly showed the comprehensive information and common misconceptions of asthma to the community residents. In the questionnaire, we added some questions about asthma based on the information we had provided on the posters. After residents filled in the questionnaire, we corrected the answers and rectify their misunderstandings according to their feedbacks. At the same time, we also distributed canvas bags with the World Asthma Day logo to the participating residents, in order to raise their awareness of asthma and environmental protection.

      ![](../assets/image/HP_Yinhongyuan_1.png)

    center Sun Hao is educating residents about the misunderstanding of asthma
    :markdown-it



      We haven't forgotten to spread the word about gene therapy. In addition to explaining the characteristics and misconceptions of asthma, we also described in detail the current situation and application of gene therapy, as well as the design of our project. At our event, we happened to meet a professor of atmospheric science who had been initially wary of gene therapy, believing that it might risk to lead to cancer. After we explained to him the difference between minicircle DNA and potentially carcinogenic virus, he eventually relieved, and suggested that maybe our treatment was a project worth trying.

      ![](../assets/image/HP_Yinhongyuan_2.png)

    center Our activities in Yinhongyuan Community on World Asthma Day
    :markdown-it



      The feedback from this education activity was satisfactory, with 92.3% expressing their willingness to continue participating in follow-up activities (Fig1.15). To see our detailed education activities please go to [Education](/Education). 

      ### 2.4 Asthma correlation analysis: providing insights

      In China, the number of deaths due to air pollution has reached 1.2 million annually, and there is also evidence that air pollution is significantly positively correlated with the incidence of asthma. In the summer vacations, we conducted more extensive epidemiological surveys across the country. Through meta-analysis of literature and existing asthma prediction models, we initially identified some factors potentially associated with asthma, namely air pollution, industrialization level, vehicle ownership, population, and age structure. By collecting incidence rate of asthma and the prevalence data above in 135 cities or regions, we tried to study to what extend the impact brought by industrialization and modernization had on the incidence of asthma. After fundamental analyses, we established a We constructed a heat map of the correlation between asthma incidence and various relevant factors, as shown below.

      ![Heatma_Asthma_Mobidity](../assets/image/Heatma_Asthma_Mobidity.png)

    center Fig4. Heatmap of correlation between asthma mobidity and other factors
    :markdown-it



      The result shows that, contrary to our previous expectations, air quality seems to have no direct correlation with the incidence of asthma. Together with Fig.2, we suspect that may be some allergens in the air, such as dust mites or second-hand smoke cannot direct reflect on the AQI, therefore the overall correlation cannot be found. What was also surprising was that vehicle did not seem to be significantly associated with asthma. However, the level of industrialization and urbanization in the region (reflected in population size) strongly influenced the incidence of asthma. **It seems to suggest that the more developed a region is, the higher the risk of asthma.**

      

      Upon we getting the analysis results, we contacted Dr. Bo Zhou from the First Affiliated Hospital of Xi'an University through WeChat, who had been interviewed by us before. Dr. Zhou praised the results of our study uncovered, saying that Xi’an is one of the central cities in the Northwest of China, and many people from different cities come to Xi’an for medical treatment. **So this analysis can serve as a good warning for the potential/risk patients.** At the same time, Dr. Zhou also expected us to build a more specific and perfect epidemiological prediction model in the future to provide reference for patient recommendations.

      

      On the one hand, **our analysis will provide valuable guidance to environmentalists and epidemiologists who wish to further study the relationship between respiratory diseases and environmental factors.** On the other hand, **we used intuitive data to increase the public's attention and participation in the construction of ecological civilization and public health.** People would also be offered with more comprehensive reference indicators when choosing a livable city. In particular, for our city, Nanjing, when we realized that it faces a higher risk of asthma than expected, we would express greater responsibility and enthusiasm to make a difference.



