extends ../template/page.pug

block append head 
  title Home

block content
  
  #markdown-body
    :markdown-it
      # Supporting Entrepreneurship
      ## 1. Summary

      This year, NJU-China designs a novel small nucleic acid drug for asthma, which has high targeting and specificity compared to traditional drugs. Aiming at the problem that small nucleic acids are difficult to deliver in vivo, we invent a new drug delivery system, which reduces the cost as well as improves efficiency at the same time. Moreover, this system has longer effect, which provides patients with more accurate and convenient treatment and has more advantages in commercialization. We have established cooperation intention with GenScript to start a new company in the future. The detailed content will be listed below.



      ## 2. Design

      See the [design](/Design) and [parts](/Parts) sections for details.



      ## 3. Cooperation with GeneScript

      ### 3.1. Basis for cooperation

      **GenScript is proficient in nucleotide drug R&D and translation**. It is equipped with all the technologies required in the procedure from pre-IND to commercialization, and owns the earliest and the largest number of cases of successful IND application, multiple examples of clinical sample production that meet GMP standards. It possesses extensive experiences in IND application and clinical production and rich and deep collaboration with CDE.

      **NJU-China's laboratory has been engaged in small nucleic acid research for many years with several core patents for small nucleic acid drug targets and delivery systems.** **Our lab has already had long-term cooperation with GenScript before.** We have established a joint school enterprise research center with Nanjing University Nanjing GenScript Biotechnology Co., Ltd. Our PI will be involved in to grant a few core patents for unimpeded cooperation in the subsequent collaboration.

      ![](../assets/image/Contract.PNG)

      ### 3.2. Opportunity

      At present, we have applied for a national invention patent for this technology and are accepting it. In view of our long-term cooperation with Genescript, we displayed our research results in being to it after signing the confidentiality agreement. GenScript was very optimistic about our project and decided to establish a company together with us in the future.

      ![](../assets/image/Notification_of_acceptance_of_patent_application.png)

      ### 3.3. Modality

      We will be in charge of the research part in the laboratory and GenScript is planned to invest capital and complete a series of preclinical and clinical trials.



      ## 4. Market analysis

      ### 4.1. Market positioning

      Our drug treatment concept is self-administration, which means administration with the patient's own exosomes, combined with siRNA, to carry out precise medical treatment for the patient. Therefore, our products are suitable for precise treatment of asthma patients with type II inflammatory response.

      ### 4.2. Macro environment analysis (PEST analysis)

      ![](../assets/image/PEST_analysis.png)

      ### 4.3. SWOT analysis

      ![](../assets/image/SWOT_analysis.PNG)



      ## 5. Current achievements and future expectations

      ### 5.1. The experimental process

      ![](../assets/image/Procedure.png)

      ### 5.2. Therapeutic modalities

      ![](../assets/image/Treatment_pattern_diagram.png)

      ![](../assets/image/Action_pattern_diagram.png)



      ## 6. Marketing strategy

      ![](../assets/image/PPPS_strategy.png)

      ### 6.1. Product positioning

      As a new therapeutic drug, this product contains a set of nucleic acid drug expression system introduced into human body with minicircle DNA as carrier and used to produce nucleic acid drugs that inhibit asthma type II inflammatory response, which make the patient's lung epithelial cells a pharmaceutical factory. This product only needs short-term medical intervention to produce a long-term effect of treating asthma in patients, which helps to improve the quality of life of patients. Meanwhile, the reduction of medical intervention also means the reduction of treatment cost. We will focus on the advantages of low cost and long -time effect in marketing.

      ### 6.2. Price strategy

      Cost plus price strategy. Set the product price according to the unit cost of the product plus a certain proportion of profit. Due to the high cost of drug R & D and high-cost profit margin, it is expected to be about 50%. In the later stage, due to the large-scale production and product optimization and upgrading, the product cost will be gradually reduced, and the pricing will be reduced accordingly.

      ### 6.3. Promotion strategy

      #### 6.3.1. Personnel promotion

      Seize B-end customers. In the process of participating in various academic conferences and forums, team members actively promote and introduce the product, so as to obtain wide recognition. In addition, we will also participate in various innovation and entrepreneurship competitions to attract investment and establish a capital base through the competition platform.

      Expand C-end customers. Team members can publicize and attract patients to try our drugs by giving preferential prices.

      #### 6.3.2. Advertising promotion

      Online platform: Business cooperation with WeChat official account of all major medical platforms in the country is launched, advertising for enterprises and medical institutions, focusing on product advantages.

      Offline platform: Set up billboards in medical institutions, as well as put up publicity posters and detailed product introduction manuals.

      #### 6.3.3. Relationship promotion

      Establish good cooperative relations with many enterprises. Form a long-term and stable cooperative relationship by combining online meetings and offline field visits to jointly improve products and control cost levels; participate in the bidding of medical institutions and government institutions, and put the products into field application.

      Relying on the scientific research strength of Nanjing University, make full use of alumni resources and cooperate with local enterprises in Nanjing.

      ### 6.4. Service strategy

      #### 6.4.1. Establish a relatively mature website to introduce our project and popularize relevant knowledge to the public through comics and other forms.

      #### 6.4.2. B2B2C service quality management

      Implement the Trinity service of "pre-sales, in-sales and after-sales".

      Before sales, provide relevant information and parameters of products to b-end customers such as hospitals through the person in charge of market development of the entrepreneurial team, for example, product performance, price advantage and instructions, to keep service ahead of sales. During sales, actively follow up the condition of C-end customers. The after-sales department shall timely reflect the feedback of the patients at the end C, respond to the needs of the patients through e-mail, microblog and WeChat platform, patiently accept the suggestions of the medical personnel at the end B, and respond to the opinions and feedback of the customers within three working days.



      ## 7. Sales model

      As we are still in the initial stage of development and lack of reliable sales network and distribution channels, we will choose the agent sales model to enter the market faster and shorten the introduction period of products. As to selecting agents, we will focus on their sales channels and sales experience in asthma or small nucleic acid drugs. In the process of actual agent sales, we will pay attention to the information exchange with agents and deal with the feedback from agents in time.



      ## 8. Financial analysis

      ### 8.1. Expenditure forecast

      ![](../assets/image/Unit_product_cost_accounting.png)

      ### 8.2. Revenue forecast

      According to statistics, there are nearly 60 million asthma patients in China. The products developed by our project can effectively and conveniently control the condition of asthma, which means the market prospect is broad. Based on the above background and the above price strategy, the annual cost reduction due to production scale and product optimization will also reduce the product pricing. We forecast the sales market share after the product is launched, as shown in the table below.

      ![](../assets/image/Market_share_after_launch.png)

      ### 8.3. Historical income statement

      Based on data collection, statistical analysis and consultation with relevant experts, we have made the following assumptions about relevant financial data:

      • Income tax rate: the company meets the set conditions for small and micro enterprises and is subject to enterprise income tax at a reduced rate of 20% in accordance with Article 28 of *the enterprise income tax law of the people's Republic of China.*

      • The depreciation life of machinery, equipment and office supplies is 10 years, and the net residual value rate is 10%. The depreciation is withdrawn by the straight-line method.

      • The amortization period of intangible assets is 10 years and there is no residual value.

      Withdraw 10% of the statutory surplus reserve according to the after-tax profit every year.

      • The benchmark discount rate is 12.89%. (Discount rate = 4%risk return + 5.41%risk-free return + 3.48%inflation rate)

      ![](../assets/image/Historical_income_statement.png)



      ## Reference

      [1] Huang, Kewu et al. “Prevalence, risk factors, and management of asthma in China: a national cross-sectional study.” *Lancet (London, England)* vol. 394,10196 (2019): 407-418. doi:10.1016/S0140-6736(19)31147-X .

