extends ../template/page.pug

block append head 
  title Home

block content
  
  #markdown-body
    :markdown-it
      # Collaboration

      During our 5 month iGEM competition, we actively collaborated with various iGEM teams. From the southeast coast of China to the Loess Plateau in central China, from the Yangtze Plain in East Asia to the Bolivian Plateau in South America, there are always teams with which we were cooperating closely. We would like to extend our heartfelt thanks to these iGEM teams we have worked with.



      ## Collaboration with XJTU-China

      XJTU-China：

      https://2021.igem.org/Team:XJTU-China/Collaborations



      Because of the epidemic, it is difficult to conduct interviews and research in other cities. With XJTU-China’s help, we were able to interview respiratory doctors at The First Affiliated Hospital of Xi 'an Jiaotong University. We also helped them contact and interview a doctor neurologist of Zhenjiang First People's Hospital. The doctors gave us a lot of advice. We learned a lot from the interviews and improved our program. We were glad to help each other.

      View Human Practice for more information on the interviews.[(Human Practice)/[Human_Practices]]()



      ![XJTU](../assets/image/XJTU.png)

      

      ## Collaboration with THU-China

      THU-China：

      https://2021.igem.org/Team:THU-China/Collaborations

      

      During the summer vacation, Chenyu Tao, our captain, met Siyi Chen from THU-China in the summer camp. They discussed their teams' projects and made suggestions for each other. In addition, THU-China helped us contact the respiratory doctors at Beijing Tsinghua Changgung Hospital. We talked to the doctor online and learned a lot.

      View Human Practice for more information on the interviews.[(Human Practice)/[Human_Practices]]()

      ![THU](../assets/image/THU.jpg)



      ## Collaboration with SJTU-Software

      SJTU-Software：https://2021.igem.org/Team:SJTU-Software/Collaborations



      This year, we started a close cooperation with the SJTU-Software team on the social questionnaire survey. Shanghai Jiao Tong University conducted a survey on the cancer cognition in Shanghai, while we conducted a survey on the social cognition of asthma in the southeast coastal areas nationwide, showing a strong correlation between asthma and lung cancer in cancer.We analyzed and shared the results of the questionnaire, trying to find whether the public was related to the current acceptance of novel therapies for asthma and cancer, and discussed the possible reasons.Further discussions were held on possible further cooperation, such as conducting collaborative questionnaires and possible associations between the environment and asthma and lung cancer.Due to the epidemic, our cooperation was carried out online. We actively participated in every meeting and discussion and put forward good suggestions.

      View Human Practice for more information on the questionnaire survey.[(Human Practice)/[Human_Practices]]()

      ![sjtu1](../assets/image/sjtu1.jpg)



      ![sjtu2](../assets/image/sjtu2.jpg)



      ## Collaboration with Bolivia

      Bolivia：https://2021.igem.org/Team:Bolivia/Collaborations



      iGEM Team Bolivia contaceted us when we distributed our survey worldwide. They wanted to communicate with us online, so on August 20th, we had an online meeting in Zoom. 

      At the meeting, Team Bolivia worried that this was their first time to take part in iGEM and had many puzzles on how to effectively conduct Human Practice, how to raise fundings, and how to collaborate with other iGEM teams. 

      Since this is the second year for Chenyu Tao, our team leader, to participate in iGEM, and he had some experience in these aspects, so we generously share some experience and technique summarized by ourselves. 

      We told Team Bolivia that Human Practice needs to focus on different group of people who have strong relationship with your project: targeted audiences, government and enterprise, and the public; and that knowing the needs and thoughts of these people will help their projects. Regarding to the problem of fundings, we suggest that they actively participate in the grand prize held by iGEM official, which will help them to some extent. Meanwhile, we also suggested that they can seek sponsorship from enterprises to achieve a win-win situation. Finally, in terms of teamwork, since Team Bolivia this year focuses on environmental issues, while our Team focuses on disease treatment, little collaboration can be found within our two teams’ project itself. So we recommend them Team NAU-China, which is also a member from Nanjing iGEM Association (NIA), to work with, since NAU-China is working on recycling selenium in the environment then.



      ## Create Nanjing iGEM Association(NIA)

      When we started our human practice, we were surprised to find that there was no collaboration platform for iGEM teams in Nanjing. Because there are so many universities in Nanjing, and every year dozen iGEM teams from Nanjing take part in the competition. We think it is very important to build a collaboration platform for fellow iGEM teams in our city, since it can not only facilitate daily collaboration, but also help local people solve local problems.

      ![NIA](../assets/image/NIA.jpg)



      ## Nanjing iGEM Association Meetup in May

      On May 5, 2021, hosted by NJU-China, The Nanjing iGEM team exchange conference attended by CPU_CHINA, Nanjing-China, Nanjing-NFLS, NU-China, NJMU-China, NJTech_China and NNU-China was held as scheduled. The event was hosted by Clare Lee, former NJU-China team leader and CCiC member, and Dr. Nannan Jiang from After iGEM and Xu Huandi, chairman of CCiC Executive Committee, were invited as guests to give lectures to all members present. 



      ### Lecture given by mentor

      ![Lecture given by Dr. Jiang](../assets/image/5月/Lecture given by Dr. Jiang.bmp)

      At the beginning of the event, Chenyu Tao, the leader of NJU-China, said welcome to all iGEM teams in Nanjing to participate in the iGEM exchange conference in Nanjing University, and hoped that this event could provide help for the project cooperation of all Nanjing iGEM teams. Later, Dr.Nannan Jiang was invited to deliver a lecture on iGEM and future planning for members present.



      ### Team reports

      #### NJMU-China

      ![NJMU-China’s presentation](../assets/image/5月/NJMU-China’s presentation.bmp)

      The first project to share with us is the treatment of children with autism caused by maternal enteritis by NJMU-China. As many of the teams present had some understanding of how to alleviate or even treat diseases by influencing intestinal microbes, other team members raised questions such as how engineered bacteria colonize in the intestinal tract, how proteins released after lysis of engineered bacteria effectively target cells and correctly perform their biological functions, and so on, the scene gradually heated up. 

      #### NAU-China

      ![The conference was broadcast live on Bilibili.](../assets/image/5月/The conference was broadcast live on Bilibili..bmp)

      The second one is team NAU-China. Their aim this year is to produce selenium nanoparticles enriched by suitable site bacteria. It is worth noting that, due to the combination of offline and online methods, other team members who could not directly attend the meeting also actively participated in the discussion through the online broadcast platform, and put forward many targeted questions and valuable opinions.

      #### Nanjing-China

      ![Nanjing-China](../assets/image/5月/Nanjing-China.bmp)

      Next, team Nanjing-China, also from Nanjing University, aims to regulate gut microbiota by leveraging the anti-oxidative stress ability of Poly P macromolecules they are familiar with. Other students also gave valuable suggestions on how to choose suitable sites for colonization and avoid side effects caused by plasmid escape.

      #### NNU-China

      ![NNU-China](../assets/image/5月/NNU-China.bmp)

      The last exhibition in the morning is the high-throughput screening platform for establishing optimal hosts for recombinant protein expression based on RBS library brought by NNU-China. Although Nanjing Normal University is participating in iGEM for the first year, other teams have benefited from their mature project preparation. Of course, there were constructive comments and experiences from other teams about HP that they were not familiar with.

      #### Break Time

      ![group photo](../assets/image/5月/group photo.bmp)

      At noon, after all teams' enjoying lunch in the school of life science, the organizer provided lab visits and campus activities to further deepen the friendly communication and cooperation with other teams. Through the exhibition of the laboratory, the contribution made by Nanjing University in the field of synthetic biology development is better demonstrated, and the foundation for future laboratory cooperation is laid. After the visit, each team member returned to the venue one after another and took a group photo.

      #### NJTech-China

      ![Njtech-China](../assets/image/5月/Njtech-China.bmp)

      Conference in the afternoon was similar to that morning. NJTech-China team introduced their project first. They hope to use the PAAS pathway to more economically and efficiently produce phenyl ethanol, an essential ingredient in perfumes. The online and offline suggestions include the selection of HP cooperative plant, the selection of 3D printing, the design of selected enzymes, etc.

      #### CPU-China

      ![CPU-China](../assets/image/5月/CPU-China.bmp)

      Team CPU-China this year focuses on environmental protection. The project hopes to explain PE plastic through the enzyme system contained in engineering bacteria. Meanwhile, they propose to use degraded microplastics to enrich heavy metals and deal with heavy metal pollution simultaneously.

      #### NJU-China

      ![NJU-China](../assets/image/5月/NJU-China.bmp)

      The last presentation was given by the NJU-China team, whose theme this year was the treatment of asthma by secreting exosomes through the body's self-assembly system. Although this is the only synthetic biology project in the room that uses eukaryotic cells as the chassis cells, other team members in the room raised questions and suggested ways to better identify patients and deliver new drugs.



      ### Communications

      After the 7 teams finished their sharing, the conference moved on to the next stage, the wall newspaper presentation. Each group communicates with the other group members they are interested in. Some discuss design considerations, some discuss what artists can learn from animation, and some share their own experiences to remind other teams to avoid missteps.



      ### Ending

      Xu Huandi, executive chairman of CCiC, also gave a wonderful lecture. At the end of the meeting, in order to better promote the communication between iGEM teams in Nanjing, Nanjing iGEM Association, a regional cooperation and exchange organization of Nanjing iGEM, was formally established with the unanimous consent of eight iGEM team leaders in Nanjing. So far the event has been a success.

      ![poster](../assets/image/5月/poster.bmp)





      ## Nanjing iGEM Association Meetup in August

      With the active participation and cooperation of all teams, our Nanjing iGEM Association Meetup has finally come to a successful conclusion in Augest! In this meeting, there were not only wonderful reports and sharing of teams, but also all-round suggestions and guidance given by guests.At the meeting, the teams actively communicated and discussed together, seeking new directions for the development of the project and finding new ways to solve problems.

      Each team reported the progress of their project. The experiments of each project are progressing smoothly and are still proceeding methodically.What is striking is that although it is difficult to carry out research and interviews under the influence of the epidemic in Jiangsu, the design of each team is still outstanding and has its own characteristics.



      ### Team presentation

      #### NJU-China

      ![NJU-China](../assets/image/NJU-China.bmp)

      NJU-China combined model and HP, and estimated the association between common air pollutants and regional incidence of asthma through model design, which provided a good evidence for HP's investigation.

      #### NAU-China

      ![NAU-China](../assets/image/NAU-China.bmp)

      ICII, the national lecture tour initiated by NAU-China, is very impressive. The event, co-hosted by NAU-China and CPU-China, has brought together 17 teams from across the country to conduct nationwide presentations to expand the influence of SYNTHETIC biology and iGEM and spread Chinese culture.

      #### Nanjing-China

      ![Nanjing-China](../assets/image/Nanjing-China.bmp)

      When education activities were difficult to carry out due to the epidemic, Nanjing-China chose to cooperate with Bilibili and other platforms to conduct live broadcasts, promoting synthetic biology to the public in different ways.

      #### NJTech-China

      ![NJTech-China](../assets/image/NJTech-China.png)

      Through active cooperation with companies or manufacturers, NJTech-China has received many guiding suggestions on the production of phenyl ethanol, which is of great benefit to the project commercialization.

      #### NNU-China

      ![NNU-China](../assets/image/NNU-China.bmp)

      NNU-China has created cute cartoons to promote in the community in an effort to get more teenagers to understand and love synthetic biology.

      #### NJMU-China

      ![NJUM-China](../assets/image/NJUM-China.bmp)

      NJMU-China focuses on autistic people, and through the constant companionship of generations of iGEMers, this group of children from the stars will eventually walk into the sunlight.



      ### Comments

      In addition to the teams' excellent work and presentations, our guests also gave a lot of guidance and advice.

      Wei Wei, the instructor of Nanjing-China, pointed out that attention should be paid to the feasibility of landing projects and experimental safety and ethical issues.

      Zhang Wenming, the instructor of NJTech-China, emphasized the specific problems that should be paid attention to during the implementation of NAU-China project.

      Wang Qingzhuo, instructor of NNU-China, pointed out that the implementation and application direction of various projects must be clear, especially those related to intestinal microbiology.

      Chen Xi, the instructor of NAU-China, pointed out that each team could read more relevant literature to further improve the application of the project. HP should clarify its logic, focus on integration, and avoid piling up randomly.

      Li Yujie, senior student of CCiC Executive Committee, also provided some skills for each team. For example, HP could indicate how each activity helped the project and what kind of thinking and inspiration it had when presenting the wiki.

      Shi Heng, member of CCiC executive Committee, provided us with some ways to communicate with CCiC to help teams solve practical problems.



      ### Communications & Ending

      ![Communications](../assets/image/Communications.bmp)

      In the last part of free exchange, everyone actively communicated and discussed with teachers and students, and the academic trip came to an end with everyone's good expectations and wishes.



      ## **NJU-China Participated in CCiC conference in August**

      Our team participated fully in the CCiC conference hosted by FDU during August 27th-29th. We’ve gained a lot through all the lectures and meetups.

      ![墙报_1](../assets/image/墙报_1.jpg)



      We had a 15 minutes’ presentation on our project ‘Targeted therapy of asthma by self-assembled small interfering RNA *in vivo*’, and display the current advances in lab and hp works. The judges spoke highly of our experimental design and gave recognition to our HP ideas. Meanwhile, they pointed out that we should devote our efforts to the way to display our achievements.

      ![回答问题](../assets/image/回答问题.jpg)



      After presentation, we moved to another room to have communication with other teams. We explained our thinking on carrying out hp works and exchanged our ideas on how to do animal experiment more ethically.

      ![model](../assets/image/model.png)



      In the evening team members were separated into different online meeting rooms to listen to the sharing by previous contestants about modelling, HP works and commercial sponsorship.



      ## The Workshop of Health and Sustainable Development

      ![The logo of OneHealth Club](../assets/image/The logo of OneHealth Club.png)

      On the morning of October 2nd, Beijing time, the exchange meeting between iGEM team and One Health Club will be held as scheduled. The purpose of this conference is to promote the concept of OH among iGEM teams and synthetic biology enthusiasts, so as to make it more popular and get more attention from related personnel in the field of biology. 

      By further integrating the idea of the health of all things into the synthetic biology project, the teams and more projects in the future can focus on global issues and fully apply the concept of One Health to further integrate and implement the project with the world, which is more conducive to the overall health of human-animal-environment and better improve people's lives. 

      At the same time, through this meeting, I hope to bring inspiration to the existing projects of each team and seek more possible development direction. The interdisciplinary OH method also hopes to provide new solutions to the problems encountered by each team in the project.

      ### Lecture by guest teachers

      The first item of the event is going to be the speeches of the distinguished faculty members: Dr. Jiangnan Nan from university of Tennessee, Professor Ruqian Zhao from Nanjing Agricultural University, and Professor Xiaolin Yang from China Agricultural University will introduce their research fields in line with the concept of One Health.



      ### Team reports

      In the second section of the workshop, the four iGEM teams will take turns to give a brief introduction to the background and further meanings. At the end of each team report, Q&A and guest comments will be set up (club members and guests will give guidance to each iGEM project, communicate which parts of the project are consistent with OH concept, and which aspects can be combined with OH concept or seek more possible application directions in the future application of the project.

      ![logo1](../assets/image/logo1.png)

      ![logo2](../assets/image/logo2.png)

      ![logo3](../assets/image/logo3.png)

      ![logo4](../assets/image/logo4.png)

      ### Idea exchange

      When it comes to the third part of today’s event, Further questions and exchanges can be made before guests and club members according to the problems or inspiration found in previous sessions.



      ### Conclusion

      In the fourth item of the conference, the guests and the person in charge of the association made a summary speech, and gave brief comments.
