extends basic.pug 
block head 
  link(rel="stylesheet" href="style/global.css")
  link(rel="stylesheet" href="style/igem.css")
  link(rel="stylesheet" href="style/markdown.css")   
  link(rel="stylesheet" href="style/homepage.css") 
  block append head

block hero

  div
    img(src="./assets/image/hero.jpg" style="width: 100rem; max-width: 100%")

block script
  script(src="script/alpine.js")
  script(src="script/global.js")
