extends basic.pug 
block head
  link(rel="stylesheet" href="../style/global.css")
  link(rel="stylesheet" href="../style/igem.css")
  link(rel="stylesheet" href="../style/markdown.css")   
  block append head

block script
  script(src="../script/alpine.js")
  script(src="../script/global.js")
