extends ../template/page.pug

block append head
  title Home

block content
  
  #markdown-body
    :markdown-it
      # Calendar

      ### January to February

      We were recruiting team members and had decided on a project theme for this year. At the same time, we brainstormed and formed the initial project design

      ### February to May

      For Human Practice, we conducted extensive surveys and interviews with doctors, professors, patients and the public, and we gradually developed an optimized program design. At the same time, we carry out education in the community and schools.

      For Wet Lab, we began to order plasmids from the company, and at the same time carried out the induction and  extraction experiment of mcDNA.

      ### May to July

      For Human Practice, we interviewed some doctors for further suggestions on design and experiment. Meanwhile, we lead the construction of Nanjing iGEM Association and held the first conference in the name of it.

      For Wet Lab, we conducted basic verification for the effects of our designed DNA circuit.

      ### July to October

      For Human Practice, we conducted several education and science communication activities and continued conducted relevant interviews. 

      For Wet Lab, we finished further experiments for proof-of-concept.

      For the entrepreneurship, we applied patent for our therapy, and have got commercial collaboration from GenScript.