extends ../template/page.pug

block append head 
  title Home

block content

  #markdown-body
    :markdown-it
      # ATTRIBUTIONS

      ## Team

      Hello, we are NJU-China team from Nanjing University. This year is the 8th year of our expedition to iGEM (2013-2018; 2020-2021). NJU-China has been committed to injecting the idea of synbiology into hot fields such as energy and pharmaceutical development, and this year we are no exception. 

      We tried to reprogram lung epithelial cells to target the secretion of exosomes carrying specific siRNA, and finally treat a very common disease around us - asthma. 

      This year's team was formed in December 2020, consisting of 13 guys. 12 students from the College of life sciences and one best off-site supporter of the College of artificial intelligence are jointly responsible for project. 

      This year's team members include painting masters, Otaku, ACG lovers and Pokémon fans (you see nothing)... In short, we will continue to work hard this year.



      ### Team members

    figure.nju-info-card
      img.nju-info-card-img(src="../assets/image/taochenyu.jpg")
      .nju-info-card-description 
        div.nju-info-card-attri He has completed the design, experimental planning and design of all components. Independently completed all the parts of in vitro animal experiments, the author of most wiki pages, led the collation work of HP.
        figcaption 
          div.nju-info-card-name Chenyu Tao
          div.nju-info-card-title One of the team leaders

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/yanxinwen.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri She completed molecular experiments with Tianyi Ni and completed most of the dry experimental molecular modeling. Leading the cooperation with other teams and the beautifying packaging of experimental display, she actively participated in HP's work and discussed every parts of our project with a number of doctors and professors. She also commercialized our project.
        figcaption 
          div.nju-info-card-name Xinwen Yan 
          div.nju-info-card-title One of the team leaders. 

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/sunhao.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri Together with Yi Qiu, he was responsible for the implementation of the cell experiment to verify that our plasmids and minicircle DNA can be expressed normally in cells. At the same time, he actively participated in HP's work and discussed every parts of our project with a number of doctors and professors.
        figcaption 
          div.nju-info-card-name Hao Sun
          div.nju-info-card-title One of the team leaders. 

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/nitianyi.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri He completed molecular experiments with Xinwen Yan and was mainly responsible for molecular wet experiments. Participated extensively in various HP activities and organized various conferences.
        figcaption 
          div.nju-info-card-name Tianyi Ni
          div.nju-info-card-title One of the team leaders. 

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/lvjingwen.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri Co-completed HP's interview work and questionnaire design analysis with Shanchi Ma, author of the wiki page.
        figcaption 
          div.nju-info-card-name Jingwen Lyu

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/wujinglu.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri Participated extensively in various HP activities, mainly responsible for international exchanges and English reports.
        figcaption 
          div.nju-info-card-name Jinglu Wu

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/qiuyi.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri Co-completed the cell experiment with Hao Sun, independently adjusted and improved many wet experiment contents, so that the team's project can be completed well. Responsible for the reimbursement of experimental funds.
        figcaption 
          div.nju-info-card-name Yi Qiu

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/mashanchi.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri Worked with Jingwen Lyu to complete HP's interview work, questionnaire design analysis and extensive participation in various community activities, author of wiki pages.
        figcaption 
          div.nju-info-card-name Shanchi Ma

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/liqingyang.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri Responsible for the reimbursement of experimental funds with Yi Qiu, extensively participate in various HP activities, and provide logistics services for team members.
        figcaption 
          div.nju-info-card-name Qingyang Li

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/liyuting.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri She is mainly responsible for the extraction of plasmid and minicircle DNA, as well as part of the HP work.
        figcaption 
          div.nju-info-card-name Yuting Li

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/nijinhan.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri He is mainly responsible for experimental modeling and machine learning, the main constructor and designer of the wiki website.
        figcaption 
          div.nju-info-card-name Jinhan Ni

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/zhoudingpei.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri Participated extensively in various HP activities and did a lot of education and publicity work.
        figcaption 
          div.nju-info-card-name Dingpei Zhou

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/yanyu.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri Participated extensively in HP work, participated in machine learning data collection and questionnaire analysis, was the main person in charge of HP in the summer, and organized various meetings with Tianyi Ni, author of wiki pages.
        figcaption 
          div.nju-info-card-name Yu Yan
    :markdown-it

      ### Instructors

      |     Name     |                         Attributions                         |
      | :----------: | :----------------------------------------------------------: |
      |   Xiao Hu    | The chief consultant of the wet experiment provided a lot of literature for the team's experimental design. He also guided the students in the wet experiment group to complete most of the experiments. Help us improve the animal safety form. |
      | Hongyuan Guo | A very good person guided us to complete the experiment and optimize our experiment protocol. At the same time in how to set up the team and organization of members, personnel division of labor and other aspects of the very outstanding help. It can be said that our achievements cannot be separated from you. |
      | Yuanyuan Su  | Yuanyuan Su, the youngest advisor did experiments with us every day, and her experimental ability was much better than ours. She solved multiple experiments at the same time and gave us guidance. We couldn't have achieved without her help. At the same time, she was not the advisor when the team was just formed, but now it turns out that she is a competent advisor. |



      ### Advisors

      |     Name     |                         Attributions                         |
      | :----------: | :----------------------------------------------------------: |
      | Xiaohan Song | Assist the team to complete the idea of the experiment and provide team members with exquisite photography and photos. |
      | Nannan Jiang | Communicate and discuss with the team every week, participate in the meetings organized by the team as a guest, and provide a lot of constructive suggestions for the team's schedule and overall project promotion. |



      ### PI


    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/chenxi.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri He is also selfless enough to help us when we need help, even if he is busy. It can be said that he appeared in every corner of our project. Humorous and conscientious, this is my evaluation of him.
        figcaption 
          div.nju-info-card-name Xi Chen

    figure.nju-info-card
      img.nju-info-card-img(src='../assets/image/wujinhui.jpg')
      .nju-info-card-description 
        div.nju-info-card-attri His rich experience in in vitro experiments has helped us design many in vitro animal experiments. And proposed improvements to our dosing regimen.
        figcaption 
          div.nju-info-card-name Jinhui Wu
    :markdown-it
      ## Acknowledgement

      From the beginning of 2021 to the end of 2021, COVID-19 is still raging around the world, and we have experienced a tortuous and unforgettable four seasons.

      Experiments grew out of nothing, constantly adjusted and failed; funds went from more to less, and experienced excitement also witnessed troughs. Fortunately, in the end, you and this team have come to the present, and the lights are still brightly lit in the lab until late at night. Thanks to every member of the team, as well as teachers, instructors and advisors, for their careful guidance. This project would not have been completed without you.

      Thanks for the funding support from M3 lab, Department of Life Science and Office of Academic Affairs of Nanjing University, who provided the laboratory and required material involved in the experiments of our project. Thank NJU Advanced Institution for Life Science and Jiangsu Engineering Center for MicroRNA Biology and Technology for the technical support. 

      Thank Yinhongyuan Community, Wutang Community, Nanjing Red Cross Organization, People's Hospital of Peking University, Zhenjiang Jingkou District People's Hospital, Beijing Tsinghua Changgung Hospital, The First Affiliated Hospital of Xi'an Jiaotong University , for providing the opportunity of human practice. Thanks to students Shaobo Yang and Jichen Hao from Tsinghua University, Sifan Yang from Nanjing University and Tianyu Zhang from Fudan University for their help in modeling. Also thank the more than 300 volunteers who filled out the questionnaire. Thank GenScript and GeneChem for the opportunity to participate in the exchange and discussion, for the industrialization of the project to provide the possibility.

      ![](../assets/image/logo.jpg)