extends ../template/page.pug

block append head 
  title Home

block content
  
  #markdown-body
    :markdown-it
      # Communication

      The ultimate goal of our project is to bring convenience to not only those suffering from asthma, but also people around us.  Therefore it is a necessity for us to learn about their perception of the disease and our therapy, and we are eager  to  make sense of their urgent need.



      ## 1. Community oriented science popularization

      ### 1.1. Wutang Community: more love, less misunderstanding

      To popularize the basic knowledge of asthma prevention and control to the public, we walked into Wutang community. Firstly, we diplayed the key points about treatment of asthma  on the poster for reference and helped solve visitors' questions and doubts. Secondly, we conducted a survey among people in the community and asked them to share their understanding of asthma.

      We invited community residents and neighborhood workers to fill out questionnaires. The results showed that most of the respondents had a certain understanding of the basic knowledge of asthma prevention and treatment through watching TV programs and reading WeChat push. Staffs from the street committees often need to deal with asthma patients in the community, which blesses them with the initiative to learn the attention of patients in daily life, so as to more fully provide intimate convenient services for residents.

      ![](../assets/image/Community/Communicatingwithresidents.jpg)

      The overall control rate of asthma in urban areas in China is only 28.5%, and only 5.6% of asthma patients can receive inhaled corticosteroids. A lot of people hesitate when it comes to hormone, as in their opinion although hormone therapy takes effect quickly, it requires a long time and may even cause; In addition, many asthma patients only paid attention to the treatment of the attack stage, once the asthma symptoms are relieved or disappear, they would misjudge as cure and stop continuing drug treatment. These were all misconceptions about asthma.

      Glucocorticoid drugs are one of the most advanced drugs in the treatment of asthma. Scientific and standardized use of hormone is a key link in improving the quality of life of patients. Most significantly, long-term maintenance therapy needs to be regulated after the acute symptoms of asthma have been brought under control. To break the misunderstanding of asthma and improve the public's understanding of common sense is the purpose of our efforts in science education. Compared with the existing hormone therapy, how to **deeply treat asthma while meeting patients' needs for long-term and  convenient treatment strategies with few side effects** is the original intention of this year's NJU-China project.

      ### 1.2. Yinhongyuan Community: the World Asthma Day

      May 5, 2021 is the 23rd World Asthma Day. Theme this year is: **Uncovering Asthma Misconceptions**. In order to solve the misunderstanding of asthma, it is necessary to understand their cognition on the occurrence and treatment of asthma. With the help of results collected from our previous nationwide survey, we analyzed and summarized general public perceptions and common misconceptions about asthma as a respiratory disease. We designed posters that explain the truth of common misuconceptions and went to Yinhongyuan community service center to slove the puzzle for local residents.

      ![](../assets/image/Community/PosteroftheWorldAsthmaDay.PNG)

      The heavy rain stopped at 9 in the morning and more and more people gathered in the neighborhood committee. Yinhongyuan community is located in the center of Nanjing with many residents. Our booth attracted many local people, and quite a few senior citizens stopped to look at the and posters. Team members took the opportunity to communicate with them.

      During the communication, team members invited residents to answer the revised questionnaire about asthma. **Many of them had met asthma patients of all ages and they could state the causes and therapeutic methods of the disease according to their own experiences**. Our members wrote this down and tried to correct some common mistakes such as seeing asthma as infectious disease that goes away with age. We explained meticulously that while irritant in the air will make the it worse, asthma is not infectious and patient may suffer from it  for the whole life on condition that effective treatment is not available. ‘That is to say wearing masks in public spaces means much more than preventing the spread of COVID-19', said a retired secondary school teacher after listening to our statement. In the meantime, team leaders Chenyu Tao and Hao Sun gave a brief introduction the treatment we designed to people in front of the poster. **Quite a few residents showed curiosity about our design and the magic of synthetic biology, expressing their willingness to accept related science education inthe days to come**. A staff member in neighborhood committee voiced support of our project and hoped that we could start from solving local problems to benefiting patients all over the world.

      ![](../assets/image/Community/Groupphoto.PNG)



      ## 2. Students oriented science communication

      According to the results of the nationwide questionnaire analysis, we came to the conclusion that **the higher degree of one's education, the less possibly he would accept our project**. So we need to know specific views of people with different educational backgrounds on our project and the deep reasons behind it. Meanwhile,  **raising concern of asthma for various people is of vital importance**. As there are no asthma-related textbooks and courses available in compulsory education stage while the incidence of asthma has been rising these years, timely promotion and bringing asthma to the forefront is more essential than ever.

      ### 2.1. Science education in elementary school campus

      Early this summer, team NJU-China had a cooperation in a public lecture of which the theme is *Health in Campus* with Tianjian Society, a voluntary service association in Nanjing University. We started from the characters and scenes in TV series to get the children involved, and they were willing to air their view and their own experiences.  Next we introduced basic knowledge of asthma and some potential cognitive misunderstandings: asthma is not infectious disease; asthma can also be aggravated by environmental influences; asthma is not that terrifying, but it still needs long-term, daily treatment.

      At the same time, we brought synthetic biology and gene therapy into classes. Through NJU-China's cartoon in iGEM 2020, we vividly showed the pupils **how synthetic biology can treat human diseases and inspired them to imagine what miracles synthetic biology can achieve in the future**.

      ![](../assets/image/Student/Classsilhouette.jpg)

      The lecture was quite satisfying, and we were delighted to see that children were very active in interacting with us. In the faraway future, they may not be able to remember the specific content of the lecture, but we hope this lecture can equip them with the **consciousness to take chances to learn something about respiratory disease prevention and synthetic biology**.

      ![](../assets/image/Student/Activeinteraction.jpg)

      ### 2.2. Science communication towards undergraduates of same major

      After the success in primary school campus, we expected to **exchange our views with peers with similar education levels and professional background** and carry out science communication among them.

      This summer, the School of Life Science of Nanjing University organized a nationwide excellent college students summer camp. Senior undergraduates in life science related majors from universities across the country gathered in the Life Science Building. Hao Sun, the student leader of NJU-China, took this opportunity to display the poster of our project and exchanged our inspiration and final vision with other students.

      The exhibition attracted many undergraduates to come for a visit. Some questions about the experimental design, such as the safety of RNA vectors and the current development, were also raised. Hao Sun patiently explained to them, and asked for their opinions and expectations about the project. **As there were not a few audiences having learnt about RNAi technology and synthetic biology, they expressed that our therapy is completely feasible in theory, and they affirmed the preliminary results we achieved at that time and showed great interest in the planned animal experiments, hoping that we could continue to promote the completion of the project and industrial transformation, bringing benefits to patients**.

      ![](../assets/image/Student/HaoSunattheposter.jpg)

      ### 2.3. Science communication towards undergraduates of non-biology major

      In order to learn the views of non-biology major students on our project as a whole, we held a laboratory open day with the help of the open campus environment of Nanjing University. Student leader Chenyu Tao invited our senior Dr. Zheng Fu, the first author of the article ‘***In vivo self-assembled small RNA as a new generation of RNAi therapeutics***’ published on ***Cell Research***, which gave inspiration to our project design, to take non-biology major undergraduates on a tour of 3M Laboratory and introduced the ongoing subjects. NJU-China's experiment was highlighted.

      ![](../assets/image/Student/Labvisit.jpg)

      In the lab, Tao and our senior met the team members busy with molecular experiments, and then they explained the basic experimental principles and our experimental design to the visiting students. During this period, some visitors asked why we chose TSLP and GATA3 as targets. Our answer is that both are essential for the proliferation and differentiation of Th2 cells, the T cells that mediate type 2 inflammation in asthma.

      As we expected, although many visitors showed great interest in our innovative idea, there remained concerns about the safety of our therapy. In their cognition, drugs are taken through tablets, capsules or liquid injections, and they've never heard of this new RNAi treatment, thus expressed their worry that the new treatment may be too cutting-edge and may have potential unintentional side effect.


      We easily identified the existing issue after identifying their concerns. We speculated that people with higher education background have lower acceptance of our program, which may be because they are not very familiar with our field while good education caused their caution on new things, which led to low acceptance of our therapy. As for their concerns  on the potential side effects of therapy, we gave a detailed explanation on  the rigorous review process that takes a drug from development through clinical trials to marketing, and made it clear that if a drug is approved under these scientific and stringent review standards, the potential risks are very tiny and it is absolutely safe to use in humans.  

      After our explanation, quite a few students said that if we could get our treatment approved clinically and put it on the market, it would be really revolutionary. A man student patted Tao on his shoulder, encouraging us to carry on and bring hope to asthma patients.



      ### 2.4. Academic forum

      In this year's academic science innovation month of Nanjing University, NJU-China actively participated in the exhibition, and did presentation and idea exchange as the only three teams. The guests present at the conference included professors from various universities in Nanjing and experts in biological enterprises. Tao introduced our new design on asthma treatment to the experts and scholars.

      During the Q&A session, the guests present could not reach an agreement. From the perspective of academic innovation, some experts and professors spoke highly of our innovative ideas while guests from the industry begged to differ. **One of the issues we were challenged most was the edge of our design over the traditional therapy**. For their part, drug companies are more concerned with benefits, which is why glucocorticoids are now the drug of choice for treating asthma. That is to say, if we don't have sufficient evidence that our new treatment is absolutely superior to the existing ones, even if it's very innovative and proven to be safe, the drug industry won't buy it.  

      Tao said that we designed a series of validation experiments from in vitro to in vivo., and the progress so far is optimistic. Meanwhile the treatment would be optimized to further improve its cost performance in the future. The representatives from pharmaceutical industries nodded.

      ![](../assets/image/Student/Sceneofthepresentation.jpg)



      ## 3. Public-oriented science communication

      ### 3.1. Workshop with One Health Society

      After elaborate preparation in the early stage, the online workshop with the theme of "Health and sustainable development" was held as scheduled by NJU-China, the iGEM team of Nanjing University, and co-organized by One Health Society from Nanjing Agricultural University. This time we invited three iGEM teams, NAU-China, NNU-China and CAU-China, Prof. Ruqian Zhao, Xiaolin Yang with One Health philosophy background and Dr. Nannan Jiang, the mentor of team NJU-China with synthetic biology background as our guests.

      ![](../assets/image/Public/Rebroadcastpicture.jpg)

      This workshop mainly aimed to promote the One Health concept among iGEM teams and synthetic biology enthusiasts, so as to make it more popular and attract more attention from related personnel in the biological field. **By further integrating the idea of Health within all creatures into the synthetic biology project, iGEM teams in the future can focus on global issues and fully apply the concept of One Health to further integrate and implement the project with the world, which is more conducive to the overall health of human-animal-environment and better improve people's lives**. At the same time, through this meeting, I hope to bring inspiration to the existing projects of each team and seek more possible development direction. The interdisciplinary OH method also hoped to provide new solutions to the problems encountered by each team in the project. 

      In this seminar, NJU-China's student leader Tianyi Ni introduced the HP work of the project, and showed the team's approach to understand the status quo of asthma disease and treatment  and our future vision. In order to show our effort consistent with the environment-health concept of One Health, we focused on the results of the investigation on the distribution of air pollution factors in different regions of China and the correlation between asthma triggers. 

      ![](../assets/image/Public/Airpollutionfactorsindifferentregions.png)

      ![](../assets/image/Public/Correlation.png)

      To our surprise, asthma rates were lower in the northwest, where air quality was worse, than in the southeast, and we were unable to find a direct correlation between some allergens and pollutants such as dust mites, second-hand smoke and vehicle exhaust. Looking further at the correlated heat maps, **we found that the level of industrialization and urbanization in an area (reflected in population size) strongly influenced the incidence of asthma**. This reminded us of the need for further research in developed regions. In the subsequent communication, the guest professor also reminded us that people have different immunity to allergens in different environments, and suggested us to consider in this direction. One Health members also raised questions about the troubles caused by the local sycamore tree flowery, which also provided ideas for our follow-up investigation. We also answered questions from other iGEM teams. All of us gained a lot.

      The moderator of this meeting is Shanchi Ma, team member of NJU-China.

      ![](../assets/image/Public/Groupphotoaftertheworkshop.jpg)

      ### 3.2 Online publicity

      This May, at the initiative of Chenyu Tao, seven iGEM teams in Nanjing formed the Nanjing iGEM Association and created our own official account. We publish reviews of the events and basic science knowledge online. Tianyi Ni also posed the video record on Bilibili for review. Team members actively forwarded these messages, and the promotion received positive responses.  

      ![](../assets/image/Public/Excerpts.PNG)






