extends ../template/page.pug

block append head 
  title Home

block content
  
  #markdown-body
    :markdown-it
      # Members

      ## students

      we have 12 team members from School of Life Science，1 from School of Artificial Intelligense. There are 7 boys and 6 girls at the same time. With the project going, more intelligent students will be invited to join us. 

    div(class="flex flex-row space-x-5")
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/mashanchi.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Shanchi Ma
            div.nju-info-card-title I have my own soul, my own spark of divine fire. 
      
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/qiuyi.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Yi Qiu
            div.nju-info-card-title Hello，everyone！This is Qiu Yi from Nanjing University. I'm a junior majoring in life science. I am responsible for the cell experiment of our team in this competition.

    div(class="flex flex-row space-x-5")
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/zhoudingpei.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Dingpei Zhou
            div.nju-info-card-title It is hoped that our study will open the way for future RNA therapies.
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/nitianyi.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Tianyi Ni
            div.nju-info-card-title I am Ni Tianyi, a 2019 undergraduate in the school of life sciences of Nanjing University.

    div(class="flex flex-row space-x-5")
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/liyuting.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Yuting Li
            div.nju-info-card-title In me the tiger sniffs the rose. 
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/yanyu.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Yu Yan
            div.nju-info-card-title It seems like the pressure that could have crushed made us into diamonds.

    div(class="flex flex-row space-x-5")
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/yanxinwen.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Xinwen Yan
            div.nju-info-card-title I love all the good things in life,especially delicious food and sleeping.
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/sunhao.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Hao Sun
            div.nju-info-card-title Junior student in the School of Life Sciences, a member of wet lab. Like to deal with cute people. Trying to work in the laboratory while drinking ice tea. Like chatting and sleeping.

    div(class="flex flex-row space-x-5")
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/liqingyang.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Qingyang Li
            div.nju-info-card-title I am fond of running, and enjoy the persistence in running, the scenery in running and  the relief of reaching goals.
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/lvjingwen.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Jingwen Lyu
            div.nju-info-card-title A grade 19 student majoring in Life Science. A happy paddler if I can.

    div(class="flex flex-row space-x-5")
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/liqingyang.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Chenyu Tao
            div.nju-info-card-title How I wish to be Miss Jiaran's puppy.
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/wujinglu.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Martin Woo
            div.nju-info-card-title  I am MartinWoo. I like being neat.

    div(class="flex flex-row")
      figure.nju-brief-info(class="mx-auto")
        img.nju-info-card-img(src="../assets/image/nijinhan.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Jinhan Ni
            div.nju-info-card-title Rust is the best programming language!
    :markdown-it


      ## Advisors

    div(class="flex flex-row space-x-5")
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/huxiao.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Xiao Hu
            div.nju-info-card-title Be a good ordinary person.
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/hongyuanguo.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Hongyuan Guo
            div.nju-info-card-title  Being a grownup isn't as scary as it seems.

    div(class="flex flex-row space-x-5")
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/yanyansu.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Yuanyuan Su
            div.nju-info-card-title 	In me the tiger sniffs the rose.
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/zhenfu.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Zhen Fu
            div.nju-info-card-title Stay hungry, stay foolish.
    div(class="flex flex-row space-x-5")
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/NannanJiang.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Nannan Jiang
            div.nju-info-card-title If we want to take care of our projects, we must first take care of the people working on our projects.
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/xiaohansong.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Xiaohan Song
            div.nju-info-card-title One of the players who hopes to break into the "pit" of biology. Now I am mainly responsible for the conduct of molecular biology experiments and part of the work of human practise.

    div(class="flex flex-row space-x-5")
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/wujinghui.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Wujing Hui
            div.nju-info-card-title Just let us know.
      figure.nju-brief-info
        img.nju-info-card-img(src="../assets/image/chenxi.jpg")
        .nju-info-card-description 
          figcaption 
            div.nju-info-card-name Xi Chen
            div.nju-info-card-title Whatever you do, do it well.