extends ../template/page.pug

block append head 
  title Home

block content
  
  #markdown-body
    :markdown-it
      # Contribution
      For the first time in iGEM competition, our team constructed siRNA for mouse GATA3 GATA3-siRNA-3 (BBa_K3756003) and siRNA for mouse TSLP TSLP-siRNA-2 (BBa_K3756006) and conducted a series of experiments to prove their outstanding gene silencing ability *in vitro* and *in vivo*. Details can be found in [Results](/Results)

      ## Verification of parts *in vitro*

      ### for GATA3-siRNA-3 (BBa_K3756003) 

      We constructed DNA circuits expressing GATA3-siRNA-3 (BBa_K3756003). We compare the features of our selected parts with other siRNAs for GATA3, namely GATA3-siRNA-1 (BBa_K3756001)and GATA3-siRNA-2 (BBa_K3756002), in mRNA silencing ability and protein inhibition ability. The results shown in Fig.1 show that GATA3-siRNA-3 (BBa_K3756003) outperforms the other two parts GATA3-siRNA-1 (BBa_K3756001)and GATA3-siRNA-2 (BBa_K3756002).

      ![Contribution_Fig1](../assets/image/Contribution_Fig1.png)

    center Fig.1 A. GATA3-siRNA-3 (BBa_K3756003) has the best silencing ability on GATA3 mRNA; B. GATA3-siRNA-3 (BBa_K3756003) has the best inhibition ability on GATA3 protein.
    :markdown-it
      ### for TSLP-siRNA-2 (BBa_K3756006)

      Similarly, We constructed DNA circuits expressing TSLP-siRNA-2 (BBa_K3756006). We compare the features of our selected parts with other siRNAs for TSLP, namely TSLP-siRNA-1 (BBa_K3756005)and GATA3-siRNA-3 (BBa_K3756007), in mRNA silencing ability. The results shown in Fig.2 show that TSLP-siRNA-2 (BBa_K3756006) outperforms the other two parts TSLP-siRNA-1 (BBa_K3756005)and TSLP-siRNA-3 (BBa_K3756007).

      ![Contribution_Fig2](../assets/image/Contribution_Fig2.png)

    center Fig.2 TSLP-siRNA-2 (BBa_K3756006) has the best silencing ability on TSLP mRNA.
    :markdown-it
      ## Verification of parts in vivo

      We administrated both GATA3-siRNA-3 (BBa_K3756003) and TSLP-siRNA-2 (BBa_K3756006) into mice to prove their silencing ability *in vivo*. The results is shown in Fig.3, and we can see amazing inhibition effect of our two parts on target gene in both mRNA expression and protein expression.

      ![Contribution_Fig3](../assets/image/Contribution_Fig3.png)

    center Fig.3 A. Our parts inhibition performance on mRNA level; B. Our parts inhibition performance on protein level.
    :markdown-it


      **In conclusion, the two parts we designed this year has outstanding inhibition ability on target genes, and we have proved that both *in vitro* and *in vivo* experiments, which is sure to benefits other iGEMers or synthetic biology in the future.**

