@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .nju-navbar {
    @apply w-full flex flex-col lg:flex-row items-center flex-wrap justify-between px-8 py-1 bg-gray-100 font-normal;
  }
  .nju-navbar-item {
    @apply px-1.5 focus:outline-none rounded focus:ring focus:border-blue-200;
  }
  .nju-popup-menu {
    @apply absolute px-3 pt-4 pb-4 bg-gray-200 shadow-md rounded-md space-y-3;
  }
}

@font-face {
  font-family: 'Kaisei Opti';
  src: url(../assets/font/KaiseiOpti-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Kaisei Opti';
  src: url(../assets/font/KaiseiOpti-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/font/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/font/Montserrat-Bold.ttf) format('truetype');
  font-weight: 700;
}

#nju-footer h2 {
  @apply text-2xl font-bold pb-2;
}

#nju-footer p {
  @apply text-xs;
}

#nju-footer a {
  @apply underline hover:text-teal-600 active:text-black;
}