@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .nju-navbar {
    @apply w-full flex flex-col lg:flex-row items-center flex-wrap justify-between px-8 py-1 bg-gray-100 font-normal;
  }
  .nju-navbar-item {
    @apply px-1.5 focus:outline-none rounded focus:ring focus:border-blue-200;
  }
  .nju-popup-menu {
    @apply absolute px-3 pt-4 pb-4 bg-gray-200 shadow-md rounded-md space-y-3;
  }
}

@font-face {
  font-family: 'Kaisei Opti';
  src: url(../assets/font/KaiseiOpti-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Kaisei Opti';
  src: url(../assets/font/KaiseiOpti-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/font/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/font/Montserrat-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../assets/font/Montserrat-Black.ttf) format('truetype');
  font-weight: 900;
}

#nju-footer h2 {
  @apply text-2xl font-bold pb-2 mb-0;
}

#nju-footer p {
  @apply text-xs;
}

#nju-footer a {
  @apply underline hover:text-teal-600 active:text-black;
}

/* info card */

#nju-main-content .nju-info-card {
  @apply md:flex bg-gray-50 shadow-xl p-8 md:p-0 mb-8;
}

#nju-main-body #nju-main-content #markdown-body .nju-info-card .nju-info-card-name {
  @apply md:text-center text-cyan-600;
}

#nju-main-body #nju-main-content #markdown-body .nju-info-card img.nju-info-card-img {
  @apply w-32 h-32 md:w-64 mx-auto md:h-auto rounded-full md:rounded-none;
}

#nju-main-body #nju-main-content #markdown-body .nju-info-card .nju-info-card-attri {
  @apply md:text-center text-lg items-center;
}

#nju-main-body #nju-main-content #markdown-body .nju-info-card .nju-info-card-description {
  @apply pt-6 md:p-8 text-center md:text-left space-y-4;
}

#nju-main-body #nju-main-content #markdown-body .nju-info-card .nju-info-card-title {
  @apply md:text-center text-gray-500;
}

#nju-main-body #markdown-body img {
  @apply mx-auto;
}

/* brief info */
#nju-main-content .nju-brief-info {
  @apply bg-gray-50 shadow-xl p-8  mb-8 w-1/2 h-auto;
}

#nju-main-body #nju-main-content #markdown-body .nju-brief-info .nju-info-card-name {
  @apply md:text-center text-cyan-600;
}

#nju-main-body #nju-main-content #markdown-body .nju-brief-info img.nju-info-card-img {
  @apply w-32 h-32  mx-auto  rounded-full;
  object-fit: cover;
  object-position: center;
}

#nju-main-body #nju-main-content #markdown-body .nju-brief-info .nju-info-card-attri {
  @apply  text-lg items-center;
}

#nju-main-body #nju-main-content #markdown-body .nju-brief-info .nju-info-card-description {
  @apply pt-6 text-center space-y-4;
}

#nju-main-body #nju-main-content #markdown-body .nju-brief-info .nju-info-card-title {
  @apply text-gray-500;
}

#nju-hero {
  background-image: url(../assets/image/hero.jpg);
}