#firstHeading, #home_logo, #sideMenu, #top_title, .patrollink {
  display: none
}

#content {
  border: none;
  margin-left: 0;
  margin-top: -7px;
  padding: 0;
  width: 100%
}

body, html {
  background-color: #fff;
  height: 100%;
  width: 100%
}

#nju-main-body a:active {
  @apply active:text-gray-50;
}

#nju-main-body p {
  @apply font-normal text-base;
}

#nju-main-body img {
  @apply border-none;
}

#nju-main-body p, #nju-main-body div {
  @apply font-sans;
}

#nju-main-body h1, #nju-main-body h2, #nju-main-body h3, #nju-main-body h4, #nju-main-body h5, #nju-main-body h6 {
  @apply font-serif font-medium;
}
