extends template/basic.pug

block title 
  title Home

block content
  
  #markdown-body
    :markdown-it
      # Welcome to our wiki page! 

      This page is under construction, and will be fully implemented soon.

      ![team logo](./assets/image/igem-nju.png)

      Test Downloadble assets:
      - [Affidavit_of_Approval_of_Animal_Ehical_and_Welfare](./assets/file/Affidavit_of_Approval_of_Animal_Ehical_and_Welfare.pdf)
      - [EDA_Report_test1](./assets/file/EDA_Report_test1.pdf)
      - [EDA_Report_test2](./assets/file/EDA_Report_test2.pdf)
      - [EDA_Report_test3](./assets/file/EDA_Report_test3.pdf)