extends template/index.pug

block append head 
  title Home

block content
  
  #homepage-body
    div(class="text-center font-black text-6xl bg-clip-text text-transparent bg-gradient-to-br from-teal-400 to-blue-500")
      div A More Accurately and Easily Way for Treatment of Asthma.

    div(class="text-center text-gray-400 p-10")
      div by using <b>Synthetic Biology</b> tools.

    div(class="mt-10 border-t-2 border-dotted border-teal-400")
      div(class="my-10 text-4xl font-bold uppercase text-center") inspirations
      div(class="flex flex-col space-y-5")
        div(class="flex flex-row")
          img(src="./assets/image/asthma.jpg" class="w-48")
          div(class="text-gray-600 my-auto pl-6 space-y-6") 
            div Asthma can be triggered when people are exposed to allergens, or when they are overworked, or when they catch a cold.
            div Asthma influence <b>334 million</b> people in the world. In China, the average prevalence of asthma has been on the rise in recent years, but The diagnosis and treatment rate is still at a <b>very low level</b>.

      div(class="w-1/2 h-40 border-r-2 border-yellow-400 border-dotted my-5")

      div(class="text-center text-3xl font-bold mt-10")
        div(class="bg-clip-text text-transparent bg-gradient-to-br from-yellow-400 to-red-800") However, the drugs used nowadays cannot meet the needs of long-term treatment.

      div(class="w-1/2 h-40 border-r-2 border-red-800 border-dotted my-5")

        
      img(src="./assets/image/medicine.jpg" class="py-5 mx-auto")


      div(class="pt-5 text-center text-2xl") Drugs most commonly used are <b>still</b> using glucocorticoids directly to inhibit the immune response. Drug problems cannot be controlled for <b>a long time</b>.

    div(class="mt-10 border-t-2 border-dotted border-teal-400")
      div(class="pt-10 text-center text-4xl font-bold") So,

      div(class="pt-10 text-center text-4xl font-bold") Let's introducing...

      div(class="w-1/2 h-40 border-r-8 border-black border-dotted my-10")

      div(class="pt-10 text-center text-4xl font-bold") Our Solution!

      div FIXME description to be done.
