html 
  head 
    link(rel="stylesheet", href="style/global.css")
  body 
    h1 Test Page 
    p To Test whether our wiki is uploaded correctly.
    img(src="image/igem-nju.png", alt="Team avatar")
    span(class="text-4xl")
      em(class="font-bold") CSS 
      p uploaded correctly
    :markdown-it
      mark*down* support 

      ## Hello
    
