extends template/basic.pug

block title 
  title Home

block content
  
  #markdown-body
    :markdown-it
      # Welcome to our wiki page!

      **This page is under construction, and will be fully implemented soon**.

      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      ![team logo](./assets/image/igem-nju.png)

      Test Downloadble assets:
      - [Affidavit_of_Approval_of_Animal_Ehical_and_Welfare](./assets/file/Affidavit_of_Approval_of_Animal_Ehical_and_Welfare.pdf)
      - [EDA_Report_test1](./assets/file/EDA_Report_test1.pdf)
      - [EDA_Report_test2](./assets/file/EDA_Report_test2.pdf)
      - [EDA_Report_test3](./assets/file/EDA_Report_test3.pdf)